h2 {
    text-align: center;
    color: white;
    font-style: italic;
  }
  
  .skill-container {
    border: solid white;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    margin-bottom: 10px;
  }
  
  .my-rounded-left {
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
  }
  
  .my-rounded-right {
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
  }
  
  .my-rounded-all {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  